@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --background-resumo: #f5f69c;
    --color-titulo: #ea4b4b;
    --color-body: #ffffff;
    --background-retangulo: rgba(255, 255, 255, 0.07);
    --background-border:#B3B3B3;

    --linhas-rank: rgba(255, 255, 255, 0.5);
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--color-body);
    background: url(../Assets/img/img/wallpapers\ 5.png) no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: auto;
    position: relative;
}

.main .target-0 {
    position: absolute;
    bottom: 290px;
    right: 680px;
}

.main .target-1 {
    position: absolute;
    top: 240px;
    right: 430px;
}

.main .target-2 {
    position: absolute;
    bottom: 380px;
    right: 400px;
}

.main .target-3 {
    position: absolute;
    left: 450px;
    bottom: 430px ;
}

.main .target-4 {
    position: absolute;
    left: 300px;
    top: 380px ;
}

.main .target-5 {
    position: absolute;
    left: 160px;
    top: 580px ;
}

.main header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
  
header .bottom-menu {
    position: relative;
    bottom: 84%;
  }
  
header .start-menu {
  position: absolute;
  top: 0%;
  left: 35%;
}

header .start-menu a { 
    color: var(--color-body);
}

header .start-menu p {
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    position: absolute;
    top: 2%;
    right: 30%;
}
  
header .icons-left  {
    position: absolute;
    left: 15%;
    top: 0%;   
}
  
.icons-left img {
    margin-right: 6px;
}

header .icons-right {
    position: absolute;
    right: 15%;
    top: 0%;
}

.icons-right img {
    margin-right: 6px;
}

.main .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    height: auto;
}

.main .title h1 {
    display: flex;
    align-items: center;
    justify-items: center;
    color: var(--color-titulo);
    font-weight: 700;
    font-size: 64px;
    margin-top: 30px;
    position: relative;
}

.title > img {
    position: absolute;
    right: 689px;
    top: 130px;
}

.title .space-logo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
}
  
.title .space-line {
    width: 200px;
    border: solid 1px var(--color-body);
    display: flex;
    height: 0px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    position: relative;
}

.center .shadow-arm {
    position: relative;
}

.center .arm-main {
    position: absolute;
    bottom: 21%;
}

.center .line-arm {
    position: absolute;
    bottom: -13px;
}

.center p {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    position: absolute;
    bottom: 7%;
}

.center .ray-right {
    position: absolute;
    top: 160px;
    right: -11px;
}

.center .rectangle-right p{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    background: var(--background-retangulo);
    border: 1px solid var(--background-retangulo);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    height: 20px;
    position: absolute;
    top: 130px;
    right: -100px;
}

.center .rectangle-right p:hover {
    transform: scale(1.1);
}

.center .ray-center-right {
    position: absolute;
    top: 215px;
    right: 146px;
}

.center .rectangle-center-right p{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    background: var(--background-retangulo);
    border: 1px solid var(--background-retangulo);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    height: 20px;
    position: absolute;
    top: 185px;
    left: 250px;
}

.center .rectangle-center-right p:hover {
    transform: scale(1.1);
}

.center .ray-center-left {
    position: absolute;
    top: 145px;
    left: 133px;
}

.center .rectangle-center-left p{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    background: var(--background-retangulo);
    border: 1px solid var(--background-retangulo);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    height: 20px;
    position: absolute;
    top: 115px;
    left: 133px;
}

.center .rectangle-center-left p:hover {
    transform: scale(1.1);
}


.center .ray-left {
    position: absolute;
    top: 188px;
    left: 32px;
}

.center .rectangle-left p{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    background: var(--background-retangulo);
    border: 1px solid var(--background-retangulo);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    height: 20px;
    position: absolute;
    top: 157px;
    left: -10px;
}

.center .rectangle-left p:hover {
    transform: scale(1.1);
}


.main .choice-arm {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 50px;
    gap: 15px;

}

.choice-arm .arm-3 {
    padding-bottom: 30px;
    border-bottom: solid 1px var(--background-border);
}

.choice-arm img {
    transition: .4s;
    cursor: context-menu !important; 
}

.choice-arm:hover > :not(:hover){
    transform: scale(.9);
    opacity: .4;
  }
