@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --resumo-titulo: #f9aff6;
  --color-body: #ffffff;

  --color-plane: #ffffff80;
  --linhas-main: #6666664f;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-body);
  background: url(../Assets/img/img/wallpapers\ 3.png) no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.main {
  height: auto;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

header .bottom-menu {
  position: relative;
  bottom: 84%;
}

header .start-menu {
  position: absolute;
  top: 0%;
  left: 35%;
}

header .start-menu a { 
  color: var(--color-body);
}

header .start-menu p {
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  position: absolute;
  top: 2%;
  right: 30%;
}

header .icons-left {
  position: absolute;
  left: 15%;
  top: 0%;
}

.icons-left img {
  margin-right: 6px;
}

header .icons-right {
  position: absolute;
  right: 15%;
  top: 0%;
}

.icons-right img {
  margin-right: 6px;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
<<<<<<< HEAD
  /* padding-top: 100px; */
  /* margin-bottom: 10px; */
=======
  padding-top: 100px;
>>>>>>> 790c931e94588a53eb06ebf368eaaf31897a57f0
  align-items: center;
  justify-content: center;
}

.center-left {
  width: 33.3%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: solid 1px var(--color-body);
  padding-right: 20px;
}

.center-left .center-left-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 30px;
}

.center-left .center-left-title p {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}

.center-left .center-left-title h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: var(--resumo-titulo);
}

.center-left-information {
  display: flex;
  flex-direction: row;
  /* border: solid 1px green; */
  justify-content: end;
  padding-top: 20px;
}

.center-left-inf-l ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  list-style-type: none;
  /* border: solid 1px red; */
  width: 8vw;
}

.center-left-inf-l li p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.center-left-inf-l li span:hover {
  color: var(--color-plane);
}

.center-left-inf-l li span {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: var(--resumo-titulo);
}

.center-left-inf-right ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 20px;
  text-align: right;
  list-style-type: none;
  width: 8vw;
}

.center-left-inf-right li p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.center-left-inf-right li span {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: var(--resumo-titulo);
}

.center-left-inf-right li span:hover {
  color: var(--color-plane);
}

.center-shadow-persona {
  width: 33.3%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 100px; */
}

.center-shadow-persona h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 112px;
  margin-top: 180px;
}

.center-shadow-persona img {
  display: flex;
  position: relative;
  bottom: 20%;
  left: 0;
  border-bottom: solid 1px var(--color-body);
}

.image-persona img {
  position: absolute;
  right: 42%;
  top: 18%;
}

.center .center-right {
  width: 33.3%;
  height: 3auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: solid 1px var(--color-body);
  gap: 1vw;
  padding-left: 20px;
}

.center-right .center-right-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.center-right .center-right-title p {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}

.center-right .center-right-title h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: var(--resumo-titulo);
}

.center-right .center-right-skills {
  display: flex;
  align-items: flex-start;
  gap: 1vw;
  position: relative;
}

.center-right-skills img:hover {
  transform: scale(1.1);
}

.center-right .center-right-texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.center-right-texts span {
  color: #f9aff6;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  width: 15vw;
  text-align: justify;
}

.center-righ .center-righ-texts h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.center_right .center_right-texts p {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  width: 14vw;
}

.center-right-texts .explication {
  gap: 10px;
}

.personas-bottom {
  width: 60vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  /* padding-bottom: 50px; */
  margin-top: 60px;
  /* border-top: solid 1px var(--color-body); */
=======
>>>>>>> 790c931e94588a53eb06ebf368eaaf31897a57f0
  flex-direction: column;
}

.personas-bottom .division {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.division .plane-line {
  border: solid 1px var(--color-plane);
  height: 0px;
  width: 31vw;
}
.personas-bottom .choice-persona {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.choice-persona .image-reyna {
  margin-bottom: 15px;
}


.choice-persona:hover > :not(:hover) {
  opacity: .4;
  transform: scale(.9);
}
