* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 32, 114);
}

.main {
  width: 50%;
  height: 50vh;
  background-color: rgb(78, 77, 85);
  display: flex;
  justify-content: center;
  align-items: center;
}

.centro {
  width: 25%;
  height: 25vh;
  background-color: rgb(40, 104, 95);
  position: relative;
}
.filho{
  width: 12.5px;
  height: 12.5vh;
  background-color: rgb(203, 223, 166);
  position: absolute;
  left: 0;
  bottom: 90%;

  /* transform: translate(-50%,-50%);'  ' */
}

.filha {
  Width: 12.5px;
  height: 12.5vh;
  background-color: rgb(203, 223, 166);
  position: absolute;
  right: 0;
  bottom: 90%;
}

.neto {
    Width: 30px;
    height: 30px;
    background-color: rgb(82, 34, 6);
    position: absolute;
    right: 45%;
    top: 45%;
}

.neta {
    Width: 30px;
    height: 30px;
    background-color: rgb(6, 20, 82);
    position: absolute;
    left: 70%;
    top: 20%;
}

.prima {
    Width: 30px;
    height: 30px;
    background-color: rgb(6, 20, 82);
    position: absolute;
    right: 70%;
    top: 20%;
}

.primo {
    Width: 120px;
    height: 20px;
    background-color: rgb(82, 15, 11);
    position: absolute;
    right: 25%;
    top: 70%;
    /* transform: translate(-25%,-70%); */
}